<%= form_for(@order, :html => {:class => "form-horizontal"}) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@order.errors.count, "error") %> <%= t('error.order.msg') %></h3>
      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    <hr>
  <% end %>

  <%= f.fields_for :customer do |c| %>  
    <div class="control-group">
      <div class="control-label">
        <%= c.label t('.name') %>
      </div>
      <%= c.text_field :name, :size => 40, :class=> "input-xlarge" %>
    </div>
    <div class="control-group">
      <div class="control-label">
        <%= c.label t('.address') %>
      </div>
      <%= c.text_area :address, :rows =>4, :cols => 40, :class=> "input-xlarge" %>
    </div>
      <div class="control-group">
      <div class="control-label">
        <%= c.label t('.postcode') %>
      </div>
      <%= c.text_field :postcode, :size => 30, :class=> "input-large" %>
    </div> 

    <div class="control-group">
      <div class="control-label">
        <%= c.label t('.phone') %>
      </div>
      <%= c.text_field :phone, :size => 15, :class=> "input-large" %>
    </div> 

    <div class="control-group">
      <div class="control-label">
        <%= c.label t('.email') %>
      </div>
      <%= c.text_field :email, :size => 50, :class=> "input-xlarge" %>
    </div> 
  <% end %>


  <div class="control-group">
      <div class="control-label">
      <%= f.label t('.pay_type') %> <%= f.select :pay_type, Order::PAYMENT_TYPES.map { |c| [t("order.payment_types.#{c}"), c] }, :prompt => t('order.select_payment_type') %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit t('.PlaceOrder'), :class=>"btn btn-success" %>
  </div>
<% end %>
