<legend>Listing orders</legend>

<table class="table table-striped table-condensed">
  <tr>
    <th>ID</th>
    <th><%= t('order.name')%></th>
    <th><%= t('order.pay_type')%></th>
    <th><%= t('order.total_items')%></th>
    <th><%= t('order.total_price')%></th>
    <th><%= t('main.actions')%></th>
  </tr>

<% @orders.each do |order| %>
  <tr>
  <td><%= order.id %></td>
    <td><%= order.customer.name %></td>
    <td><%= order.pay_type %></td>
    <td><%= order.total_items %></td>
    <td><%= number_to_currency(order.total_price) %></td>
    <td>
    <%= link_to raw('<i class="icon-folder-open"></i> Show'), order %><br/>
    <%= link_to raw('<i class="icon-trash"></i> Delete'), order, confirm: 'Are you sure?', method: :delete %>
  </td>
  </tr>
<% end %>
</table>

<br />

<p><%= will_paginate @orders %></p>