<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @order.name %>
</p>

<p>
  <b>Address:</b>
  <%= @order.address %>
</p>

<p>
  <b>Email:</b>
  <%= @order.email %>
</p>

<p>
  <b>Pay type:</b>
  <%= @order.pay_type %>
</p>

<h3>Products</h3>

<!--- TODO: Edit inline order details ---->

<table>
	<tr>
		<th>Product ID</th>
		<th>Name</th>
		<th>Condition</th>
		<th>Unit Price</th>
		<th>Quantity</th>
		<th>Total Price</th>
		<th>Action</th>
	</tr>
	<% @order_items.each do |item| %>
	<tr>
		<td><%= item.product_id %></td>
		<td><%= get_product_name(item.product_id) %></td>
		<td><%= item.product_condition %></td>
		<td><%= item.product_price %></td>
		<td><%= item.quantity %></td>
		<td><%= item.total_price %></td>
		<td><%= link_to 'Edit', edit_order_item_path(item) %></td>
	</tr>
	<% end %>
</table>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
