<h3><%= t('order.order_info')%></h3>

  <div class="pull-right">
    <%= link_to "Generate Order Report", order_report_path, :method => :generate, :class => "btn btn-success pull-right" %>
	</div>
	
<hr>

<div class="row">
	
	<div class="span4">
		<p>
		  <b><%= t('order.name') %>:</b>
		  <%= @order.customer.name %>
		</p>

		<p>
		  <b><%= t('order.address') %>:</b>
		  <%= @order.customer.address %>
		  <%= @order.customer.postcode %>
		</p>

		<p>
		  <b><%= t('order.phone') %>:</b>
		  <%= @order.customer.phone %>
		</p>

		<p>
		  <b><%= t('order.email') %>:</b>
		  <%= @order.customer.email.blank? ? " " : @order.customer.email %>
		</p>

		<p>
		  <b><%= t('order.pay_type') %>:</b>
		  <%= @order.pay_type %>
		</p>
	</div>
	

	
</div>


<p><%= link_to 'Edit Information', edit_order_path(@order) %></p>

<hr>

<h3>Products</h3>

<!--- TODO: Edit inline order details ---->

<table class="table table-striped">
	<tr>
		<th>Product ID</th>
		<th>Name</th>
		<th>Condition</th>
		<th>Unit Price</th>
		<th>Quantity</th>
		<th>Total Price</th>
		<th>Action</th>
	</tr>
	<% @order_items.each do |item| %>
	<tr>
		<td><%= item.product_id %></td>
		<td><%= get_product_name(item.product_id) %></td>
		<td><%= item.product_condition %></td>
		<td><%= item.product_price %></td>
		<td><%= item.quantity %></td>
		<td><%= item.total_price %></td>
		<td><%= link_to 'Edit', edit_order_item_path(item) %></td>
	</tr>
	<% end %>
</table>

<%= link_to 'Back', orders_path,:class => "btn btn-primary" %>

</br>
