<p id="notice"><%= notice %></p>

<div class="cart_title">Cart</div>

<table>
  <% @cart.cart_items.each do |item| %>
	<tr>
		<td><%= item.quantity %> &times;</td>
		<td><%= item.product.name %></td>
		<td class="item_price"><%= number_to_currency(item.total_price) %></td>
		<td class="delete_item"><%= button_to 'Delete Line', item, :method => :delete, :confirm => "Are you sure?" %>
	</tr>
  <% end %>
	<tr class ="total_line">
		
		<td></td>
		<td>Total</td>
		<td id="total_price"><%= number_to_currency(@cart.total_price)%></td>
		<td></td>
	</tr>
</table>

<%= button_to 'Empty Cart', @cart, :method => :delete, :confirm => 'Are you sure?' %>


<%= link_to 'Back', store_path %>
