<h2>Reports</h2>

<% @shop_info.each do |t| %>
      <h3>Loja : <%= t[:name] %> </h3>

      <table class="table table-condensed">
        <tr>
          <th>Comerciais</th>
        </tr>
        <% t[:users].each do |t| %>
            <tr>
              <td><%= t.name %></td>
            </tr>
        <% end %>
      </table>

      <h3> Mês Actual (a partir de <%= @beginning_of_month %>) </h3>
      <table class="table table-condensed table-striped">
        <tr>
          <th>N. de Pedidos</th>
          <th>Total €</th>
        </tr>
        <tr>
          <td><%= t[:current_month_count] %></td>
          <td><%= number_to_currency(t[:current_month_sum]) %></td>
        </tr>
      </table>

      <h3> Semana Actual (a partir de <%= @beginning_of_week %>) </h3>
      <table class="table table-condensed table-striped">
        <tr>
          <th>N. de Pedidos</th>
          <th>Total €</th>
        </tr>
        <tr>
          <td><%= t[:current_week_count] %></td>
          <td><%= number_to_currency(t[:current_week_sum]) %></td>
        </tr>
      </table>

      <h3> Per Day </h3>

      <table class="table table-condensed table-striped">
        <tr>
          <th>Dia</th>
          <th>N. de Pedidos</th>
          <th>Total €</th>
        </tr>
        <% t[:shop_day_info].each do |d| %>
        <tr>
            <td><%= d[:day] %></td>
            <td><%= d[:per_day_count] %></td>
            <td><%= d[:total_price] %></td>
        </tr>
        <% end %>
        </table>


<% end %>
