<!DOCTYPE html>
<html lang="en">
  <head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Phoneshop</title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <!-- Le styles -->
    <%= wicked_pdf_stylesheet_link_tag  "pdf" %>

    <!-- Le fav and touch icons -->
    <link href="images/favicon.ico" rel="shortcut icon">
  </head>
  <body>

    <div class="container-fluid">
       <div class="row-fluid">
        <div class="span12">

<div class="row">
	<div class="span3">
		<%= wicked_pdf_image_tag "logo.jpeg" %>
	</div>

	<div class="span4 pull-right">
		<br/>
		<h4><%= t('order.order') %> #<%= @order.id %> - <%= @order.created_at.strftime('%d/%m/%Y - %H:%M')  %></h4>
	</div>
</div>


<hr>

<div class="row">
	<div class="span4">
		<p>
		  <b><%= t('order.name') %>:</b>
		  <%= @order.customer.name %>
		</p>

		<p>
		  <b><%= t('order.address') %>:</b></br>
		  <%= @order.customer.address %><br />
		  <%= @order.customer.postcode %>
		</p>

		<p>
		  <b><%= t('order.phone') %>:</b>
		  <%= @order.customer.phone %>
		</p>

		<p>
		  <b><%= t('order.email') %>:</b>
		  <%= @order.customer.email.blank? ? " " : @order.customer.email %>
		</p>

		<p>
		  <b><%= t('order.pay_type') %>:</b>
		  <%= @order.pay_type %>
		</p>
	</div>

	<div class ="span2 pull-right">


	</div>

</div>


<hr>

<h3><%= t('product.products')%></h3>

<table class="table table-condensed">
	<thead>
	<tr>
		<th><%= t('product.productID')%></th>
		<th><%= t('product.name')%></th>
		<th><%= t('product.condition')%></th>
		<th><%= t('product.unitprice')%></th>
		<th><%= t('product.quantity')%></th>
		<th><%= t('order.totalprice')%></th>
	</tr>
	</thead>
	<tbody>
	<% @order_items.each do |item| %>
	<tr>
		<td><%= item.product_id %></td>
		<td><%= get_product_name(item.product_id) %></td>
		<td><%= item.product_condition == "Working" ? t('product.working') : t('product.broken') %></td>
		<td><%= number_to_currency(item.product_price) %></td>
		<td><%= item.quantity %></td>
		<td><%= number_to_currency(item.total_price) %></td>
	</tr>
	<% end %>
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td><b><%= t('order.totalprice')%></b></td>
		<td><b><%= @order.total_items %></b></td>
		<td id="total_price"><b><%= number_to_currency(@order.total_price)%></b></td>
	</tr>
	</tbody>
</table>


<br/>

</div>
      </div><!--/row-->
      <hr>
      <footer>
       &copy; <%= App.main[:companyname] %> 2012 <br />
          <%= App.main[:address] %> - <%= App.main[:phonenumber] %> - <%= App.main[:email] %><br />
          <%= App.main[:message] %><br />
          <%= App.main[:moreinfo] %>
      </footer>

    </div> <!-- /container -->
  </body>
</html>

