<h2>Order Report</h2>

<p>Order #<%= @order.id %> - <%= @order.created_at %></p>



<div class="row">
	<div class="span3">
		<p>
		  <b>Name:</b>
		  <%= @order.customer.name %>
		</p>

		<p>
		  <b>Address:</b>
		  <%= @order.customer.address %>
		</p>

		<p>
		  <b>Post-Code:</b>
		  <%= @order.customer.postcode %>
		</p>

		<p>
		  <b>Phone:</b>
		  <%= @order.customer.phone %>
		</p>

		<p>
		  <b>Email:</b>
		  <%= @order.customer.email %>
		</p>

		<p>
		  <b>Pay type:</b>
		  <%= @order.pay_type %>
		</p>
	</div>
</div>


<hr>

<h3>Products</h3>

<table class="table table-striped">
	<thead>
	<tr>
		<th>Product ID</th>
		<th>Name</th>
		<th>Condition</th>
		<th>Unit Price</th>
		<th>Quantity</th>
		<th>Total Price</th>
	</tr>
	</thead>
	<tbody>
	<% @order_items.each do |item| %>
	<tr>
		<td><%= item.product_id %></td>
		<td><%= get_product_name(item.product_id) %></td>
		<td><%= item.product_condition %></td>
		<td><%= item.product_price %></td>
		<td><%= item.quantity %></td>
		<td><%= item.total_price %></td>
	</tr>
	<% end %>
	</tbody>
</table>


<br/>
