<h1><%= t('.listOfBrands') %></h1>

<div id="brand_list">

<table class="table table-striped table-condensed">
  <tr>
    <th><%= t('.logo') %></th>
    <th><%= t('main.name') %></th>
    <th><%= t('main.actions') %></th>
  </tr>

<% @brands.each do |brand| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>"> 
	<td><%= link_to image_tag(brand.logo_url, :class => 'list_image'), brand_path(brand) %></td>
    <td><%= brand.name %></td>
    <td class="list_actions">
		<%= link_to t('Show'), brand %><br/>
    <%= link_to t('Edit'), edit_brand_path(brand) %>
	</td>
  </tr>
<% end %>
</table>

<br />

</div>

<%= link_to t('brands.new.newbrand'), new_brand_path, :class => "btn btn-primary" %>
