
	<p id="notice"><%= notice %></p>

<div class="span-5 colborder">
	<h2>The brands</h2>
	<ul>
	<% @brands.each do |otherbrand| %>
		<li> <%= link_to otherbrand.name, otherbrand %></li>
	<% end %>
	</ul>
</div>

<div class="span-17 prepend-1 last">

	<%= image_tag(@brand.logo_url, :class => 'top right') %>

	<h2> <%= @brand.name %> : <%= link_to @brand_url, @brand_url %> </h2>


	List of equipments
	<ul>
	<% @brand.products.each do |product| %>
	<li><%= link_to product.name, product %></li>
	<% end %>
	</ul>

	<p><%= link_to 'Back', brands_path %></p>


</div>


