<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @brand.name %>
</p>

<p>
  <b>Logo url:</b>
  <%= @brand.logo_url %>
</p>

<p>
	URL: <%= link_to @brand_url, @brand_url %>
</p>

List of equipments
<ul>
<% @brand.products.each do |product| %>
<li><%= link_to product.name, product %></li>
<% end %>
</ul>

<%= link_to 'Back', brands_path %>
