
<p id="notice"><%= notice %></p>

<div class="">

	<%= image_tag(@brand.logo_url, :class => 'top right') %>

	<h2><%= @brand.name %></h2>


	List of equipments
	<ul>
	<% @brand.products.each do |product| %>
	<li><%= link_to product.name, product %></li>
	<% end %>
	</ul>

	<p><%= link_to 'Back', brands_path %></p>


</div>


