  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="control-group">
   <%= f.label :name, t("product.new_name", :default => "Name"), :class => "control-label" %>
  <div class="input">
    <%= f.text_field :name, :class => 'text_field' %>
  </div>
</div>

<div class="control-group">
   <%= f.label :price, t("activerecord.attributes.product.price", :default => "Price"), :class => "control-label" %> (NN.NN)
  <div class="input">
    <%= f.text_field :price, :class => 'text_field' %>
  </div>
</div>

<div class="control-group">
   <%= f.label :brand_id, t("activerecord.attributes.product.brand_id", :default => "Brand"), :class => "control-label" %>
  <div class="input">
    <%= f.select :brand_id, Brand.all.map { |b| [b.name, b.id] }  %>
  </div>
</div>

<div class="control-group">
   <%= f.label :category, t("activerecord.attributes.product.category", :default => "Category"), :class => "control-label" %>
  <div class="input">
    <%= f.select :category, Product::CATEGORY_TYPES, :prompt => 'Select category of equipment' %>
  </div>
</div>

<div class="control-group">
   <%= f.label :image, t("activerecord.attributes.product.image", :default => "Image"), :class => "control-label" %>
  <div class="input">
    <%= f.file_field :image %>
  </div>
</div>

