<div class="">

	<h3><%= t('.latestproduct', :default => "Lastest Products") %></h3>

	<p><%= link_to t('.new_product'), new_product_path, :class => "btn btn-primary" %> <%= link_to t('.new_brand'), new_brand_path, :class => "btn btn-primary" %></p>



	<div id="product_list">

	<table class="table table-condensed">
	  <tr>
	    <th><%= t("product.image", :default => "Image") %></th>
	    <th><%= t("product.name", :default => "Name") %></th>
	    <th><%= t("product.price", :default => "Price") %></th>
	    <th><%= t("product.brand", :default => "Brand") %></th>
	    <th><%= t("product.category", :default => "Category") %></th>
	    <th></th>
	    <th></th>
	  </tr>

	<% @products.each do |product| %>
	  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>"> 
		<td><%= link_to(image_tag(product.image.url, :class => 'list_image'),product) %></td>    
		<td><%= link_to product.name, product %></td>
	    <td><%= number_to_currency(product.price) %></td>
	    <td><%= link_to product.brand.name, product.brand %></td>
	    <td><%= product.category %></td>
	  </tr>
	<% end %>
	</table>

	<br />

	</div>


</div>
