

<h2><legend><%= link_to @product.brand.name, brand_path(@product.brand) %> / <%= @product.name %></legend></h2>

<div class="row">
    <div class="span3">
		  <%= image_tag @product.image.url %>
	  </div>

    <div class="span3">
      <div class="well">
      <p><b><%= t('product.price') %>:</b> <%= number_to_currency(@product.price) %></p> 
        <p><b><%= t('product.condition') %></b></p>
          <div class="row">
            <div class="span1">
              <%= button_to t('product.Good'), cart_items_path(:product_id => @product, :product_condition => "Good"), :remote => true, :class => "btn btn-small" %>
            </div>
            <div class="span1">
              <%= button_to t('product.Bad'), cart_items_path(:product_id => @product, :product_condition => "Bad"), :remote => true, :class => "btn btn-small" %>
            </div>
          </div>
      </div>
    </div>

    <div class="span3 well">
		  <p><strong><%= @product.brand.name %></strong></p>
		  <p><b><%= t('product.category') %>:</b> <%= @product.category %></p>
    </div>

</div>

</br>

<%= link_to t('main.back'), brand_path(@product.brand), :class => "btn btn-primary" %> | 
<%= link_to t('main.edit'), edit_product_path(@product), :class => "btn" %>