

<h2><%= t('.top_products') %></h2>

<div class="product-grid">
	<% @products.each do |top| %>	
	<div>
		<div class="name"><%= link_to truncate(top.product.name, :length => 30), top.product  %></div>
		<div class="image"><%= link_to(image_tag(top.product.image.url, :class => 'list_image'), top.product, :class => "thumbnail") %></div>
		<div class="price"><%= number_to_currency(top.product.price) %><br></div>
		<div class="cart">
        <div class="row">
          <div class="span0">
            <%= button_to "100%", cart_items_path(:product_id => top.product, :product_condition => "Good"), :remote => true, :class => "btn btn-small" %>
          </div>
          <div class="span0">
            <%= button_to "50%", cart_items_path(:product_id => top.product, :product_condition => "Bad"), :remote => true, :class => "btn btn-small" %>
          </div>
        </div>
			</div>
	</div>
	<% end %>
</div>
