<p id="notice"><%= notice %></p>

<div class="span-5 colborder">
	<h2>The brands</h2>
	<ul>
	<% @brands.each do |brand| %>
		<li> <%= link_to brand.name, brand %></li>
	<% end %>
	</ul>
</div>

<div class="span-16 prepend-1 last">

	<h2>Os mais vendidos</h2>

	<div class="product-grid">
		
		<% @products.each do |product| %>	
		<div>
			<div class="image"><%= image_tag(product.image_url, :class => 'list_image') %></div>
			<div class="name"><%= product.name  %></div>
			<div class="price"><%= number_to_currency(product.price) %><br></div>
			<div class="cart"><%= button_to 'Add to Cart', cart_items_path(:product_id => product), :remote => true %></div>
		</div>

		<% end %>
		
	</div>
	<br/>

</div>
