<!DOCTYPE html>
<html>
<head>
  <title>Phoneshop</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
</head>
<body>

    <div class="container">
      <h1><%= link_to 'Simples POS', store_path %></h1>
      <hr>
      <h2 class="alt">The Simple POS interface.</h2>
      <hr>
      <div class="span-7 colborder">
	
	<!--- TODO: Add Link To View Cart ----->
	
	  <% if @cart %>
		<div id="cart">
			<%= render @cart %>
		</div>
	  <% end %>
      </div>
      <div class="span-15 last">
        <h6>And another box</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat laboris nisi ut aliquip.</p>
      </div>

      <hr>
      <hr class="space"> <!--- yield ---->
      
		<%= yield %>

	  <hr>
      <h3 class="alt">You may pick and choose amongst these and many more features, so be bold.</h3>
      <hr>
      <p>
		Lorem.....
      </p>
    </div>

  </body>
</html>
